<html>
<head>
<title> Shopsquare.com </title>
</head>

<style>
body {
    background-color:lightyellow;
}
</style>

<center>

<form>
  <div class="form-group">
    <input type="" class="form-control" id="" placeholder="Search">
	</div>
</form>

<div class="row text-right">

<html>
<head>
<style>

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

</style>
</head>
<body>

<div class="dropdown">
  <button class=""> My Account ▼ </button>
    <div class="row text-left">
  <div class="dropdown-content">
    <a href="">My Orders</a>
	<a href="http://localhost:3000/rating/index">Reviews and Ratings</a>
	<a href="http://localhost:3000/accountdelete/index">Deactivate account</a>
    <a href="http://localhost:3000">Logout</a>
  </div>
  </div>
</div>

</body>
</html>

<%= link_to "Cart", 'http://localhost:3000/cart/index' %>
<%= image_tag("empty-cart-dark.png", size:"50x50", alt:"Edit Entry") %>
</div>
</div>

<body>

<h1> <b> <font color="darkblue">SHOPSQUARE </font> </b> </h1>

<%= image_tag("e-shop-logo.png", size:"200x100", alt:"Edit Entry") %> 

<br>
&nbsp; <br>

<hr><h3>
<b><%= link_to "SHOP", '' %></b>|<b><%= link_to "ABOUT", 'http://localhost:3000/about/index' %></b>|<b><%= link_to "WHERETOBUY", 'http://localhost:3000/wheretobuy/index' %></b>|<b><%= link_to "FAQ", 'http://localhost:3000/faq/index' %></b>|<b><%= link_to "CONTACT", 'http://localhost:3000/contact/index' %></b>
</h3><hr>
<marquee><h2> <font color="purple"> Welcome to Shopsquare. Hope you like it. </h2></marquee>

		<div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("617hBptWNlL._UL1500_.jpg", :crop => :fill ,alt:"Edit Entry") %>
                    <div class="caption">                        
                        <p>  Iik Collection Analogue Black Dial Men's Watch - IIK034M. </p>
						<h3> ₹ 350 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

			<div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("419nj33gGlL._AC_UL260_SR200,260_.jpg",  :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                        
                        <p>Asian Shoes Wonder 13 Grey Firozi Men's Sports Shoes.</p>
                        <h3> ₹ 500 </h3>
						<p>				
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

			<div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                   <%= image_tag("Backpacks._V285968500_", :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                        
                        <p>School bag.</p>
						<h3> ₹ 550 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

			<div class="row text-center">
            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("513201564925PM_635_general_mobile_4g", :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                        
                        <p>Micromax Canvas Spark 2 Plus dual sim black colour.</p>
						<h3> ₹ 3500 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
		
		<div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                 <%= image_tag("d53aea331189ce8ffa9d59d9906849c5", :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                       
                        <p>Ray ban Sunglasses.</p>
						<h3> ₹ 4000 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
			
			<div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                    <%= image_tag("Mens-Shirts-005", :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                        
                        <p>Allen Solly Men's Shirt.</p>
						<h3> ₹ 2800 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
			
			<div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
                  <%= image_tag("easyacc-2nd-gen-15000mah-power-bank", :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                        
                        <p>EasyAcc 15000mAh Power Bank.</p>
						<h3> ₹ 5200 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
			
			<div class="row text-center">

            <div class="col-md-3 col-sm-6 hero-feature">
                <div class="thumbnail">
				<%= image_tag("Philips-QT4001-Trimmer-Black-SDL752680486-1-a9b1a", :crop => :fill, alt:"Edit Entry") %>
                    <div class="caption">                       
                        <p>Philips QT4001/15 Pro Beard Trimmer Black.</p>
						<h3> ₹ 1150 </h3>
                        <p>
                            <a href="http://localhost:3000/payment/index" class="btn btn-primary">Buy Now!</a> <a href="http://localhost:3000/cart/index" class="btn btn-default">Add to Cart</a>
                        </p>
                    </div>
                </div>
            </div>
		
        <!-- /.row -->

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row text-center">
                <div class="col-lg-12">
				
				<p> Online shopping made easy at Shopsquare. </p>
				
   				<p>Copyright &copy; Website 2017</p>
				
				</div>
            </div>
<br>


</center>

</body>
</html>
